iomegadatafactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "iomegadatafactory"
		},
		"AzureDLSLinkedService_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDLSLinkedService'"
		},
		"AzureBlobStorageLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorageLinkedService'"
		},
		"AzureSQLDBLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSQLDBLinkedService'"
		},
		"AzureSQLDWLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSQLDWLinkedService'"
		},
		"AzureDLSLinkedService_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://iomegadls.dfs.core.windows.net"
		},
		"AzureKVLinkedService_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://iomegakv.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDLSLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDLSLinkedService_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDLSLinkedService_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKVLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKVLinkedService_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorageLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorageLinkedService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQLDBLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSQLDBLinkedService_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKVLinkedService",
							"type": "LinkedServiceReference"
						},
						"secretName": "sqlpassword"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKVLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQLDWLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('AzureSQLDWLinkedService_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKVLinkedService",
							"type": "LinkedServiceReference"
						},
						"secretName": "sqlpassword"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKVLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProcessedMessagesDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"BlobPath": {
						"type": "string"
					},
					"BlobName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().BlobName",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().BlobPath",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProcessedBlobsToDLSDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDLSLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"targetBlobName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().targetBlobName",
							"type": "Expression"
						},
						"fileSystem": "processeddata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Plant",
						"type": "String"
					},
					{
						"name": "DeviceId",
						"type": "String"
					},
					{
						"name": "Temperature",
						"type": "String"
					},
					{
						"name": "Humidity",
						"type": "String"
					},
					{
						"name": "RecordedTime",
						"type": "String"
					},
					{
						"name": "TempStatus",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDLSLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProcessableBlobsDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDBLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLDBLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDWDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDWLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "RecordId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "Plant",
						"type": "nvarchar"
					},
					{
						"name": "DeviceId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Temperature",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Humidity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RecordedTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "TempStatus",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ProcessedRecords"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLDWLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Process Blobs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Processable Blobs",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[uspGetProcessableBlogs]"
							},
							"dataset": {
								"referenceName": "ProcessableBlobsDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Iterate All Blobs",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Processable Blobs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Processable Blobs').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Blob Path",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "BlobPath",
										"value": {
											"value": "@substring(item().Path, 0, indexof(item().Path, item().BlobName))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Blob Name",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Blob Path",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "BlobName",
										"value": {
											"value": "@{item().BlobName}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Process Records to DWH",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set Blob Name",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Region",
														"type": "String"
													},
													"sink": {
														"name": "Region",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Plant",
														"type": "String"
													},
													"sink": {
														"name": "Plant",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DeviceId",
														"type": "Int32"
													},
													"sink": {
														"name": "DeviceId",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "Temperature",
														"type": "Int32"
													},
													"sink": {
														"name": "Temperature",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "Humidity",
														"type": "Int32"
													},
													"sink": {
														"name": "Humidity",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "RecordedTime",
														"type": "DateTime"
													},
													"sink": {
														"name": "RecordedTime",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "TempStatus",
														"type": "String"
													},
													"sink": {
														"name": "TempStatus",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "ProcessedMessagesDataset",
											"type": "DatasetReference",
											"parameters": {
												"BlobPath": {
													"value": "@variables('BlobPath')",
													"type": "Expression"
												},
												"BlobName": {
													"value": "@variables('BlobName')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureDWDataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Copy Blob to DLS",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set Blob Name",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ""
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Region",
														"type": "String"
													},
													"sink": {
														"name": "Region",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Plant",
														"type": "String"
													},
													"sink": {
														"name": "Plant",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DeviceId",
														"type": "Int32"
													},
													"sink": {
														"name": "DeviceId",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "Temperature",
														"type": "Int32"
													},
													"sink": {
														"name": "Temperature",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "Humidity",
														"type": "Int32"
													},
													"sink": {
														"name": "Humidity",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "RecordedTime",
														"type": "DateTime"
													},
													"sink": {
														"name": "RecordedTime",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "TempStatus",
														"type": "String"
													},
													"sink": {
														"name": "TempStatus",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "ProcessedMessagesDataset",
											"type": "DatasetReference",
											"parameters": {
												"BlobPath": {
													"value": "@variables('BlobPath')",
													"type": "Expression"
												},
												"BlobName": {
													"value": "@variables('BlobName')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ProcessedBlobsToDLSDataset",
											"type": "DatasetReference",
											"parameters": {
												"targetBlobName": {
													"value": "@variables('BlobName')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Update Blob Status",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Process Records to DWH",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Copy Blob to DLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[uspUpdateBlobMetadata]",
										"storedProcedureParameters": {
											"dlsLocation": {
												"value": {
													"value": "@concat(variables('BlobPath'), '/',variables('BlobName'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"recordId": {
												"value": {
													"value": "@{item().RecordId}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSQLDBLinkedService",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"variables": {
					"BlobPath": {
						"type": "String"
					},
					"BlobName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ProcessableBlobsDataset')]",
				"[concat(variables('factoryId'), '/datasets/ProcessedMessagesDataset')]",
				"[concat(variables('factoryId'), '/datasets/AzureDWDataset')]",
				"[concat(variables('factoryId'), '/datasets/ProcessedBlobsToDLSDataset')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLDBLinkedService')]"
			]
		}
	]
}