pipeline/Process Blobs.json
{
	"name": "Process Blobs",
	"properties": {
		"activities": [
			{
				"name": "Lookup Processable Blobs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetProcessableBlogs]"
					},
					"dataset": {
						"referenceName": "ProcessableBlobsDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate All Blobs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Processable Blobs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Processable Blobs').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Blob Path",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "BlobPath",
								"value": {
									"value": "@substring(item().Path, 0, indexof(item().Path, item().BlobName))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Blob Name",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "BlobName",
								"value": {
									"value": "@{item().BlobName}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"BlobPath": {
				"type": "String"
			},
			"BlobName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}