pipeline/Process Blobs.json
{
	"name": "Process Blobs",
	"properties": {
		"activities": [
			{
				"name": "Lookup Processable Blobs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetProcessableBlogs]"
					},
					"dataset": {
						"referenceName": "ProcessableBlobsDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate All Blobs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Processable Blobs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Processable Blobs').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Blob Path",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "BlobPath",
								"value": {
									"value": "@substring(item().Path, 0, indexof(item().Path, item().BlobName))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Blob Name",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Blob Path",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "BlobName",
								"value": {
									"value": "@{item().BlobName}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Process Records to DWH",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set Blob Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"allowPolyBase": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Region",
												"type": "String"
											},
											"sink": {
												"name": "Region",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Plant",
												"type": "String"
											},
											"sink": {
												"name": "Plant",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DeviceId",
												"type": "Int32"
											},
											"sink": {
												"name": "DeviceId",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Temperature",
												"type": "Int32"
											},
											"sink": {
												"name": "Temperature",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Humidity",
												"type": "Int32"
											},
											"sink": {
												"name": "Humidity",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "RecordedTime",
												"type": "DateTime"
											},
											"sink": {
												"name": "RecordedTime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "TempStatus",
												"type": "String"
											},
											"sink": {
												"name": "TempStatus",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ProcessedMessagesDataset",
									"type": "DatasetReference",
									"parameters": {
										"BlobPath": {
											"value": "@variables('BlobPath')",
											"type": "Expression"
										},
										"BlobName": {
											"value": "@variables('BlobName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureDWDataset",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy Blob to DLS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set Blob Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Region",
												"type": "String"
											},
											"sink": {
												"name": "Region",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Plant",
												"type": "String"
											},
											"sink": {
												"name": "Plant",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DeviceId",
												"type": "Int32"
											},
											"sink": {
												"name": "DeviceId",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Temperature",
												"type": "Int32"
											},
											"sink": {
												"name": "Temperature",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Humidity",
												"type": "Int32"
											},
											"sink": {
												"name": "Humidity",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "RecordedTime",
												"type": "DateTime"
											},
											"sink": {
												"name": "RecordedTime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "TempStatus",
												"type": "String"
											},
											"sink": {
												"name": "TempStatus",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ProcessedMessagesDataset",
									"type": "DatasetReference",
									"parameters": {
										"BlobPath": {
											"value": "@variables('BlobPath')",
											"type": "Expression"
										},
										"BlobName": {
											"value": "@variables('BlobName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ProcessedBlobsToDLSDataset",
									"type": "DatasetReference",
									"parameters": {
										"targetBlobName": {
											"value": "@variables('BlobName')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update Blob Status",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Process Records to DWH",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Copy Blob to DLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[uspUpdateBlobMetadata]",
								"storedProcedureParameters": {
									"dlsLocation": {
										"value": {
											"value": "@concat(variables('BlobPath'), '/',variables('BlobName'))",
											"type": "Expression"
										},
										"type": "String"
									},
									"recordId": {
										"value": {
											"value": "@{item().BlobId}",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSQLDBLinkedService",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"BlobPath": {
				"type": "String"
			},
			"BlobName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}